.landpage {
  	width: 100%;
  	position: relative;
  	height: 100%;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-end;
  	padding: 260px 68px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 64px;
  	color: #fff;
  	font-family: 'Pixelify Sans';
}
.buttons {
  	width: 441px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 60px;
}
.login {
  	width: 441px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	cursor: pointer;
}
.landpage-login {
  	align-self: stretch;
  	backdrop-filter: blur(4px);
  	border-radius: 24px;
  	background-color: rgba(255, 255, 255, 0.2);
  	border: 1px solid #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 80px;
}
.login2 {
  	position: relative;
  	text-shadow: 1px 0 0 #2b194d, 0 1px 0 #2b194d, -1px 0 0 #2b194d, 0 -1px 0 #2b194d;
}
.background-video {
  position: absolute;        /* fixa no fundo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;         /* cobre toda a tela sem distorcer */
  z-index: -1;               /* fica atrás do conteúdo */
}


